/*Impede de modificar o tamanho final*/
* {
	box-sizing: border-box;
}

/*Todos os estilos serão feitos por aqui*/
@media (max-width: 736px) {
	
	/*corpo da página*/
    body {
        background-color: #e5e5e5;
        display: flex;
        flex-direction: column;
        align-items: center;
		font-family: 'Roboto', sans-serif;
    }

    /*Define o formato do cabeçalho*/
    .titulo {
        position: fixed;
        width: 100%;
        height: 80px;
        background-color: #ffffff;
        display: flex;
		z-index: 2;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    }

	/*Define o tamanho da logo*/
	.logo {
		position: absolute;
		width: 73px;
        height: 53px;
		top: 16px;
		left: 22px;
	}

	/*Define o tamanho do ícone do cabeçalho*/
	.titulo ion-icon {
		position: absolute;
		width: 45px;
		height: 45px;
		top: 18px;
		right: 21px;
	}

    /*-------------------------------------------------------------------------------------------*/
    /*Menu do meio*/
    .menu {
        width: 100%;
        margin: 104px 0;
        z-index: 1;
		color: #000000;
    }

	/*Formata as mensagens*/
	.mensagem {
		width: 100%;
		height: auto;
		margin: 2px 0;
		border-radius: 2px;
		justify-content: flex-start;
		line-height: 20px;
		display: flex inline;
		word-wrap: break-word;
	}

	/*Define as cores das mensagens e seus componentes*/
	/*Mensagem normal*/
	.normal {
		padding: 15px 9px;
		background-color: #ffffff;
	}
	/*Entrada/Saída*/
	.entrada {
		padding: 15px 9px;
		background-color: #dcdcdc;
	}
	/*Mensagem reservada*/
	.reservada {
		padding: 15px 9px;
		background-color: #ffdede;
	}
	/*Horário da mensagem*/
	.horario {
		color: #aaaaaa;
		display: inline;
	}

    /*-------------------------------------------------------------------------------------------*/
    /*Menu para enviar mensagens*/
    .rodape {
        position: fixed;
        display: flex;
        align-items: center;
        width: 100%;
        height: 80px;
        background-color: white;
        bottom: 0;
		z-index: 2;
		box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    }

	/*Form para inserir a mensagem*/
	.rodape form {
		align-items: center;
	}
	.rodape input[type=text] {
		position: absolute;
		width: 85%;
		height: 30px;
		left: 17px;
		bottom: 25px;
		border: none;
		font-weight: 400;
		font-size: 18px;
		box-sizing: border-box;
	}

	/*Texto dentro do form*/
	::placeholder {		
		font-style: italic;
		color: #000000;
	}

	/*Ícone usado para enviar a mensagem*/
	.rodape form ion-icon {
		position: absolute;
		width: 26px;
		height: 26px;
		right: 18px;
		bottom: 27px;
	}

}